#noticias{
    width:600px;
    padding:10px;
    border:1px solid peru;
    column-count :3;
    column-gap :30px;
    /* column-rule-style:dashed;
    column-rule-color:gray;
    column-rule-width:5px; */

    column-rule: 10px dotted orange;
}