*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    border :1px solid gray;
}
html,body{
    height:100%
}
header{
    background-color: rgb(228, 145, 68);
    height:150px;
    width:100%:
}
aside{
    background-color:rgb(218, 114, 250);
    width:30%;
    height:300px;
    float:left;  
}

footer{
    width:100%;
    height:60px;
    background-color: paleturquoise;
}
.reparar{
    clear: both;
}
article{
    width: 70%;
    float:right;
    height:400px;
    background-color: yellow;
}
div{
    background-color:steelblue;
    width : 20%;
    height:300px;
    float: right;
}
